/* Establece la tipografía para el cuerpo de la página */
body {
  font-family: Helvetica, sans-serif; /* Establece la fuente Helvetica y sans-serif como alternativa */
  margin: 0; /* Elimina el margen predeterminado del body */
}

/* Estilo del encabezado */
.head {
  background-color: #ad0000; /* Color de fondo rojo */
  display: flex; /* Utiliza el modelo de diseño flexbox */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  padding: 10px; /* Añade un relleno de 10px alrededor */
}

/* Estilo de la imagen dentro del logo */
.head .logo img {
  margin-left: 50px; /* Deja un margen de 50px a la izquierda */
  width: 110px; /* Establece el ancho de la imagen */
  height: 110px; /* Establece la altura de la imagen */
}

/* Estilo del menú de navegación en el encabezado */
.head .menu {
  display: flex; /* Utiliza el modelo de diseño flexbox para alinear los elementos */
  justify-content: flex-end; /* Alinea el menú a la derecha */
  flex: 1; /* Permite que el menú ocupe el espacio disponible */
}

/* Estilo de los enlaces dentro del menú */
.head .menu a {
  color: white; /* Establece el color del texto como blanco */
  font-weight: bold; /* Hace que el texto sea en negrita */
  font-size: 24px; /* Establece el tamaño de la fuente en 24px */
  padding: 14px 20px; /* Añade relleno dentro de los enlaces */
  text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
  text-align: center; /* Alinea el texto al centro */
  position: relative; /* Establece la posición relativa para que los submenús se posicionen correctamente */
}

/* Estilo cuando el usuario pasa el puntero por encima de los enlaces del menú */
.head .menu a:hover {
  background-color: #ddd; /* Cambia el fondo a un gris claro */
  color: black; /* Cambia el color del texto a negro */
}

/* Estilo general de los menús (listas) */
.menu ul {
  list-style-type: none; /* Elimina los puntos de lista */
  padding: 0; /* Elimina el relleno */
  margin: 0; /* Elimina el margen */
}

/* Estilo de los elementos de lista dentro del menú */
.menu > ul > li {
  position: relative; /* Necesario para posicionar el submenú */
  display: inline-block; /* Los elementos se muestran en línea, pero con propiedades de bloque */
  padding: 10px 20px; /* Añade relleno dentro de los elementos de lista */
}

/* Estilo de los enlaces dentro de los elementos de lista */
.menu a {
  text-decoration: none; /* Elimina la subrayado */
  color: black; /* Establece el color del texto como negro */
  font-size: 16px; /* Establece el tamaño de la fuente */
}

/* Estilo cuando el puntero pasa por encima de un elemento de lista */
.menu > ul > li:hover {
  color: black; /* Cambia el color del texto a negro cuando el puntero está sobre el elemento */
}

/* Estilo del submenú */
.submenu {
  display: none; /* El submenú está oculto por defecto */
  position: absolute; /* Posiciona el submenú de manera absoluta respecto al elemento padre */
  top: 100%; /* Coloca el submenú justo debajo del elemento del menú */
  left: 50%; /* Centra el submenú horizontalmente */
  background-color: #333; /* Establece el fondo del submenú a un gris oscuro */
  padding: 10px 0; /* Añade relleno en la parte superior e inferior del submenú */
  text-align: center; /* Centra el texto dentro del submenú */
  transform: translateX(
    -50%
  ); /* Ajusta el submenú para centrarlo correctamente */
}

/* Estilo de los elementos dentro del submenú */
.submenu li {
  white-space: nowrap; /* Impide que el texto se divida en varias líneas */
}

/* Estilo de los enlaces dentro del submenú */
.submenu a {
  display: block; /* Hace que los enlaces se comporten como bloques */
  padding: 8px 20px; /* Añade relleno dentro de los enlaces */
  color: white; /* Establece el color del texto como blanco */
}

/*FIN DEL SUBMENU*/

/* Estilo para las líneas horizontales (hr) */
hr {
  border: 0; /* Elimina el borde predeterminado de la línea */
  border-top: 3px solid #333; /* Añade una línea superior de 3px de grosor y color gris oscuro */
  margin-left: 20%; /* Deja un margen del 20% a la izquierda */
  width: 60%; /* Establece el ancho de la línea al 60% del contenedor */
  box-shadow: 0 0 10px rgba(169, 169, 169, 0.5); /* Añade una sombra difusa de color gris claro */
}

/* Estilos del pie de página (footer) */
.footer {
  background-color: #00001a; /* Establece el fondo a un color negro con matiz azul oscuro */
  color: white; /* Establece el color del texto como blanco */
  text-align: center; /* Centra el texto en el pie de página */
  padding: 20px 0; /* Añade relleno de 20px en la parte superior e inferior */
  clear: both; /* Evita que los elementos flotantes afecten al pie de página */
}

/* Estilo para la sección de patrocinadores dentro del pie de página */
.footer .sponsors {
  display: flex; /* Utiliza el modelo de diseño flexbox */
  flex-wrap: wrap; /* Permite que los elementos se ajusten a varias líneas si es necesario */
  justify-content: center; /* Centra los elementos dentro del contenedor */
  gap: 10px; /* Deja un espacio de 10px entre los elementos */
}

/* Estilo para las imágenes de los patrocinadores */
.footer .sponsors a img {
  width: 80px; /* Establece el ancho de las imágenes en 80px */
  height: 50px; /* Establece la altura de las imágenes en 50px */
  margin: 5px; /* Añade un margen de 5px alrededor de las imágenes */
}

/* Estilo para la caja de políticas en el pie de página */
.footer .cajaPoliticas {
  display: flex; /* Utiliza el modelo de diseño flexbox */
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  gap: 20px; /* Deja un espacio de 20px entre los elementos */
  margin: 60px 0; /* Añade márgenes superior e inferior de 60px */
  margin-left: 350px; /* Deja un margen a la izquierda de 350px */
}

/* Estilo para los enlaces dentro de la caja de políticas */
.footer .cajaPoliticas a {
  display: flex; /* Establece los enlaces como elementos flexibles */
  color: white; /* Establece el color del texto como blanco */
  font-size: 18px; /* Establece el tamaño de la fuente en 18px */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-weight: bold; /* Hace que el texto sea en negrita */
}

/* Estilo cuando el puntero pasa por encima de los enlaces dentro de la caja de políticas */
.footer .cajaPoliticas a:hover {
  text-decoration: underline; /* Subraya los enlaces cuando el puntero pasa sobre ellos */
}

/* Estilo para el logotipo en la parte inferior de la página */
#logodebajo {
  margin: 20px 0; /* Añade un margen de 20px en la parte superior e inferior */
}

/* Estilo para la imagen del logotipo en la parte inferior */
#logodebajo img {
  width: 90px; /* Establece el ancho de la imagen en 90px */
  height: 90px; /* Establece la altura de la imagen en 90px */
}

/* Estilo para la firma pequeña */
.minifirma > p {
  color: #555; /* Establece el color del texto como gris */
  font-size: 15px; /* Establece el tamaño de la fuente en 15px */
}

/* Estilo para la caja de redes sociales */
#cajaSociales {
  display: flex; /* Utiliza el modelo de diseño flexbox */
  justify-content: flex-end; /* Alinea los elementos a la derecha */
  gap: 10px; /* Deja un espacio de 10px entre los elementos */
  margin-top: -85px; /* Añade un margen negativo para desplazar la caja hacia arriba */
  margin-right: 500px; /* Deja un margen de 500px a la derecha */
}

/* Estilo para los enlaces dentro de la caja de redes sociales */
#cajaSociales a {
  display: inline-block; /* Los enlaces se comportan como bloques en línea */
  /* display: flex; */
}

/* Estilo para las imágenes dentro de la caja de redes sociales */
#cajaSociales img {
  display: flex; /* Utiliza el modelo flexbox para las imágenes */
  width: 28px; /* Establece el ancho de las imágenes en 28px */
  height: 28px; /* Establece la altura de las imágenes en 28px */
  margin: 0 5px; /* Añade un margen de 5px a la derecha e izquierda */
  vertical-align: middle; /* Alinea las imágenes verticalmente al centro */
  background-color: white; /* Establece el fondo blanco para las imágenes */
}

/*///////////////////////////////////////////////*/
/* Centrar el contenedor principal sin afectar al body */
.container {
  box-shadow: 0 0 10px rgba(169, 169, 169, 0.5); /* Añade una sombra difusa alrededor del contenedor */
  width: 80%; /* Ajusta el ancho del contenedor al 80% del ancho disponible */
  max-width: 1200px; /* Limita el ancho máximo del contenedor a 1200px */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 18px; /* Añade espaciado interno dentro del contenedor */
  text-align: center; /* Centra todo el contenido dentro del contenedor */
}

/* Estilos para el contenedor secundario */
.container2 {
  margin-top: -10px; /* Añade un margen superior negativo para desplazar hacia arriba */
  padding-top: 1px; /* Añade un pequeño espaciado superior */
  padding-bottom: 10px; /* Añade espaciado en la parte inferior */
  box-shadow: 0 0 10px rgba(169, 169, 169, 0.5); /* Añade una sombra difusa alrededor del contenedor */
}

/* Estilo para los encabezados h1 */
h1 {
  font-size: 24px; /* Establece el tamaño de la fuente a 24px */
  margin-bottom: 20px; /* Deja un margen inferior de 20px */
  text-align: center; /* Centra el texto del encabezado */
}

/* Estilo para los párrafos */
p {
  font-size: 18px; /* Establece el tamaño de la fuente a 18px */
  margin-bottom: 20px; /* Deja un margen inferior de 20px */
  text-align: center; /* Centra el texto del párrafo */
}

/* Estilo para los menús desplegables */
.dropdowns {
  display: flex; /* Utiliza el modelo de diseño flexbox para los menús */
  gap: 20px; /* Deja un espacio de 20px entre los menús */
  justify-content: center; /* Centra los menús en la página */
  margin-bottom: 20px; /* Deja un margen inferior de 20px */
}

label {
  font-weight: bold; /* Hace que las etiquetas sean en negrita */
}

/* Estilo para cada dropdown */
.dropdown {
  display: flex; /* Utiliza el modelo de diseño flexbox */
  flex-direction: column; /* Alinea los elementos de arriba hacia abajo */
  align-items: center; /* Centra el contenido de cada dropdown */
}

/* Estilo para las etiquetas dentro de los dropdowns */
.dropdown label {
  font-size: 16px; /* Establece el tamaño de la fuente de las etiquetas a 16px */
  margin-bottom: 5px; /* Deja un margen inferior de 5px */
  color: #333; /* Establece el color del texto a gris oscuro */
}

/* Estilo para los select (menú desplegable) */
select {
  padding: 10px; /* Añade un relleno de 10px en todos los lados */
  font-size: 16px; /* Establece el tamaño de la fuente a 16px */
  width: 100%; /* Hace que el select ocupe el 100% del ancho disponible */
}

/* Estilo para los botones */
button {
  padding: 10px 20px; /* Añade 10px de espaciado en la parte superior e inferior y 20px en los lados */
  font-size: 18px; /* Establece el tamaño de la fuente a 18px */
  background-color: #376939; /* Establece el color de fondo del botón a verde oscuro */
  color: white; /* Establece el color del texto a blanco */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Añade bordes redondeados al botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  display: block; /* Hace que el botón ocupe todo el ancho disponible */
  margin: 20px auto; /* Centra el botón y deja un margen de 20px arriba y abajo */
}

/* Estilo cuando el puntero pasa sobre el botón */
button:hover {
  background-color: #28522a; /* Cambia el color de fondo a verde más oscuro cuando el puntero pasa sobre el botón */
}

/* Estilo para el encabezado de resultados */
#resuladoh3 {
  font-size: 20px; /* Establece el tamaño de la fuente a 20px */
  margin: 20px 0; /* Deja un margen de 20px arriba y abajo */
  text-align: center; /* Centra el texto */
}

/* Estilo para el contenedor de los resultados */
#resultados {
  margin-top: 20px; /* Deja un margen superior de 20px */
  display: flex; /* Utiliza el modelo de diseño flexbox */
  flex-direction: column; /* Alinea los elementos de arriba hacia abajo */
  align-items: center; /* Centra el contenido dentro del contenedor */
}

/* Estilo para el contenedor de la información de resultados */
#resultados-info {
  display: none; /* Inicialmente oculto */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 10px; /* Deja un espacio de 10px entre los mensajes */
  width: 100%; /* Hace que los elementos ocupen el 100% del ancho disponible */
}

/* Estilo para los mensajes de aciertos, fallos y premio */
#aciertos,
#fallos,
#premio {
  font-size: 18px; /* Establece el tamaño de la fuente a 18px */
  margin-top: 15px; /* Deja un margen superior de 15px */
  text-align: center; /* Centra el texto */
}

/* Estilo para el mensaje de aciertos */
#aciertos {
  background-color: #a00000; /* Establece el fondo del mensaje a rojo oscuro */
  color: white; /* Establece el color del texto a blanco */
  padding: 10px; /* Añade un relleno de 10px alrededor del texto */
  width: 250px; /* Establece el ancho del mensaje a 250px */
  margin: 15px auto 0 auto; /* Añade margen superior de 15px y centra el mensaje */
  border-radius: 5px; /* Añade bordes redondeados */
}

/* Estilo para el mensaje de fallos */
#fallos {
  background-color: #f5a623; /* Establece el fondo del mensaje a un color amarillo */
  color: white; /* Establece el color del texto a blanco */
  padding: 10px; /* Añade un relleno de 10px alrededor del texto */
  border-radius: 5px; /* Añade bordes redondeados */
}

/* Estilo para el mensaje de premio */
#premio {
  background-color: #4caf50; /* Establece el fondo del mensaje a verde */
  color: white; /* Establece el color del texto a blanco */
  padding: 10px; /* Añade un relleno de 10px alrededor del texto */
  border-radius: 5px; /* Añade bordes redondeados */
}

/* Estilo para los pilotos sorteados */
#pilotos-sorteados {
  display: flex; /* Utiliza el modelo de diseño flexbox */
  justify-content: center; /* Centra los pilotos sorteados horizontalmente */
  gap: 20px; /* Deja un espacio de 20px entre los elementos */
  margin-top: 20px; /* Deja un margen superior de 20px */
}

/* Estilo para las imágenes de los pilotos sorteados */
#pilotos-sorteados img {
  width: 150px; /* Establece el ancho de las imágenes a 150px */
  height: 150px; /* Establece la altura de las imágenes a 150px */
  border-radius: 4px; /* Añade bordes redondeados a las imágenes */
  box-shadow: 0 0 10px rgba(169, 169, 169, 0.3); /* Añade una sombra difusa alrededor de las imágenes */
  object-fit: cover; /* Mantiene las proporciones de la imagen dentro del contenedor */
}
